__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.git/
.gitignore
.DS_Store
.vscode/
.idea/
*.log
*.sqlite3
*.db
build/
dist/
*.egg-info/
.ipynb_checkpoints/
test/
tests/
*.so  # исключаем скомпилированные C++ файлы